body {
	margin: 0;
}

.cont {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	height: 100vh
}

header {
	height: 100px;
	background-color: #ffb4b4;
}

.content {
	flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	background-color: #faf3ca;
	width: 100vw;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}

.sidebar {
	flex-grow: 1;
	min-width: 250px;
	background-color: #ffc78e;
}

.map {
	flex-grow: 3;
}
