body {
	margin: 0;
}

li > #text {
	padding: 5px 0;
}

[type="checkbox"] {
	margin: 0 5px;
}

.collapse {
	display: inline-block;
	color: gray;
	font-style: italic;
	font-size: 14px;
	padding-left: 5px;
}

.cont {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	height: 100vh
}

header {
	height: 70px;
	background-color: #ffb4b4;
}

.sidebar {
	flex: 1;
	min-width: 250px;
	background-color: #ffc78e;
}

#map {
	flex: 3;
}

.alert {
	margin: 5px;
}

#tabone {
	background-color: #fbb4ae;
	font-weight: bold;
}

h2 {
	margin: 10px 10px 30px 10px;
	font-size: 20px;
}

li > #text {
	padding: 5px 0;
}

[type="checkbox"] {
	margin: 0 5px;
}

.card {
	background-color: #fff3cb;
	border: solid black;
	border-radius: 10px;
	list-style-type: none;
	margin: 15px 0;
}

.card ul {
	padding-left: 20px
}
